:root {
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);

    --star-top: 0;
    --star-left: 0;

    --primary-color: #e9ff70;
    --secondary-color: #000;
}

@keyframes background-pan {
    from {
        background-position: 0 center;
    }

    to {
        background-position: -200% center;
    }
}

@keyframes scale {
    from, to {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

body {
    background-color: #EDFFB8;
}

a {
    text-decoration: none;
}

.quote {
    font-size: clamp(0.5em, 1vw, 2em);
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    color: #000000;
    text-align: center;
}

footer > p {
    font-size: clamp(0.5em, 1vw, 2em);
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    color: #000000;
    text-align: center;
}

.main-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

#main-header {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Andreas", sans-serif;
    margin-bottom: 1rem;
}

/* Magic Text */
#main-paragraph {
    font-size: clamp(1.5em, 1.5vw, 3em);
    font-weight: 400;
    font-family: "ArchivGrotesk", sans-serif;
    text-align: center;
}

#created-ideas {
    text-decoration-line: none;
    cursor: pointer;
}

p > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, var(--purple), var(--violet), var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    background-size: 200%;
}

p > .magic {
    display: inline-block;
    position: relative;

}

p > .magic > .magic-star {
    --size: clamp(1em, 1.5vw, 3em);
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    width: var(--size);
    position: absolute;
    top: var(--star-top);
    left: var(--star-left);
    z-index: -10;
}

p > .magic > .magic-star > svg {
    display: block;
    opacity: 0.7;
    animation: rotate 1000ms linear infinite;
}

p > .magic > .magic-star > svg > path {
    fill: var(--violet);
}


/* ideas loading styles */
.ideas-container {
    width: 50%;
}

#ideas-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ideas {
    display: flex;
    flex-direction: column;
    background-color: #000;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.count {
    font-weight: bold;
    font-size: 24px;
    margin-right: 20px;
    color: #e9ff70;
}

.created-date, .modified-date {
    font-size: 14px;
    color: #e9ff70;
}

.title-name {
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 10px;
    color: #e9ff70;
}

.description-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(199, 199, 199);

}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.updateButton {
    background-color: #e9ff70;
    font-weight: bold;
    border: none;
    color: #000000;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.deleteButton {
    background-color: #ffffff;
    border: none;
    font-weight: bold;
    color: #000000 !important;
    padding: 10px;
    cursor: pointer;
}

.updateButton:hover{
    background-color: #f0f0f0;
}


.pulse {
    --color: #e9ff70;
    --hover: #e9ff70;
    position: relative;
    transition: all 0.2s;
    box-shadow: 0 0 0 0 var(--hover);
}

.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

.up {
    position: relative;
    --color: #e9ff70;
    --hover: #e9ff70;
    --box-shadow-hover: inset 0 100% 0 0 var(--hover);
}

.up:hover,
.up:focus {
    box-shadow: var(--box-shadow-hover);
    transition: box-shadow 0.3s ease-in-out;
}

.up::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: var(--color);
    z-index: -1;
    transition: height 0.3s ease-in-out;
}

.up:hover::before,
.up:focus::before {
    height: 100%;
    transition-delay: 0.15s;
}

button.up {
    color: var(--color);
    border-color: var(--color);
    background-color: #fff; /* Set a white background for the button */
    position: relative;
    z-index: 1;
    overflow: hidden; /* Hide the overflowing fill-up effect */
}

button.up:hover,
button.up:focus {
    color: #000; /* Change the text color to black on hover/focus */
    border-color: var(--hover);
}

button.up::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: var(--hover);
    z-index: -2;
    transition: height 0.3s ease-in-out;
}

button.up:hover::after,
button.up:focus::after {
    height: 100%;
    transition-delay: 0.15s;
}











/* confirmation modal*/
.modal-backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-message {
    margin-bottom: 20px;
}

.modal-button {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: #eee;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.modal-button:hover {
    background-color: #ddd;
}















/* createdPage Styles */
/* Global styles */
::selection,
::-moz-selection {
    background: #2D2F36;
}

/* Page container styles */
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: absolute;
    place-content: center;
    width: 100vw;
}

/* Form container styles */
.container {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
}

/* Left side container styles */
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
}

/* Right side container styles */
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    box-shadow: 0 0 40px 16px rgba(0,0,0,0.22);
    color: #F1F1F2;
    position: relative;
    width: 50%;
}

/* Form styles */
.form {
    margin: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
}

/* Form label styles */
#create-idea-form label {
    color: #fff;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

/* Form input and textarea styles */
#create-idea-form input[type="text"],
#create-idea-form textarea {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#create-idea-form input[type="text"] {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#create-idea-form textarea {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Form button styles */
#create-idea-form button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    padding-block: 10px;
    padding-inline: 30px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

#create-idea-form button:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Submit button styles */
#submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 8px;
}

#submit:hover {
    background-color: #3e8e41;
}

#submit:focus {
    outline: none;
}

/* Title and description styles */
.title {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
}

.description {
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
}

/* Text color styles */
/* Text color styles */
#create-idea-form input[type="text"],
#create-idea-form textarea,
#create-idea-form button {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

#create-idea-form label {
    display: block;
    margin-bottom: 10px;
    color: #e9ff70;
}

#create-idea-form input[type="text"],
#create-idea-form textarea {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-bottom: 10px;
}

#create-idea-form button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#create-idea-form button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.created-idea-description {
    color: #060a19;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: -30px;
}


/* Scrollbar Styles */
/* Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #EDFFB8;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #000;

}

/* Add padding to the scrollbar */
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: block;
    background-color: transparent;
}

/* Round the top and bottom of the scrollbar */
::-webkit-scrollbar-track-piece:start {
    border-radius: 5px 0 0 0;
}

::-webkit-scrollbar-track-piece:end {
    border-radius: 0 0 0 5px;
}

/* Firefox */
* {
    scrollbar-color: #EDFFB8 black;
    scrollbar-width: thin;
}

/* Firefox scrollbar thumb */
*::-webkit-scrollbar-thumb {
    background-color: #EDFFB8;
    border-radius: 5px;
}

/* Firefox scrollbar track */
*::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 5px;
}

/* Firefox scrollbar track piece start */
*::-webkit-scrollbar-track-piece:start {
    border-radius: 5px 0 0 0;
}

/* Firefox scrollbar track piece end */
*::-webkit-scrollbar-track-piece:end {
    border-radius: 0 0 0 5px;
}